@import "@repo/tailwind/css";

.container {
	max-width: 100%;
	width: calc(100% - --spacing(8));
}

@media (width >= 40rem) {
	.container {
		max-width: 48rem;
	}
}

@media (width >= 48rem) {
	.container {
		max-width: 56rem;
	}
}

@media (width >= 64rem) {
	.container {
		max-width: 72rem;
	}
}
